.vs/OpenPanel-WIN/v17/.wsuo
.vs/OpenPanel-WIN/v17/.suo
.vs/OpenPanel-WIN/v17/Browse.VC.db
.vs/OpenPanel-WIN/v17/Browse.VC.db-wal
.vs/OpenPanel-WIN/v17/Browse.VC.db-shm
.vs/OpenPanel-WIN/v17/Browse.VC.opendb
.vs/OpenPanel-WIN/v17/DocumentLayout.backup.json
.vs/OpenPanel-WIN/v17/DocumentLayout.json
OpenPanel-WIN.sln
OpenPanel-WIN.vcxproj
OpenPanel-WIN.vcxproj.filters
OpenPanel-WIN.vcxproj.user
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/OpenPanel-WIN/FileContentIndex/647ec97c-316c-4dd4-9e2d-b120a31ca317.vsidx
.vs/OpenPanel-WIN/FileContentIndex/ba0f4263-5a7f-404c-91ba-fbbd41de4518.vsidx
.vs/OpenPanel-WIN/v17/ipch/AutoPCH/1d00e8377081a2f9/OPENPANEL-MAIN.ipch
.vs/OpenPanel-WIN/v17/ipch/AutoPCH/51adc7bd117f663d/OPENPANEL-MAIN.ipch
.vs/OpenPanel-WIN/v17/ipch/AutoPCH/55bd54a0c83df06b/OPENPANEL-MAIN.ipch
